.MuiDataGrid-root .MuiDataGrid-cell {
  border-bottom: 1px solid #525252 !important;
  /* border-bottom: 1px solid #0d7377 !important; */
}
.MuiSvgIcon-fontSizeSmall {
  color: #8a8a8a !important;
}

.MuiDataGrid-sortIcon {
  color: whitesmoke !important;
}
.MuiDataGrid-root {
  border: 1px solid #525252 !important;
  /* border: 1px solid #084547 !important; */
}
.MuiDataGrid-root .MuiDataGrid-columnSeparator {
  color: #8a8a8a !important;
  /* color: #0d7377 !important; */
}

.MuiDataGrid-root .MuiDataGrid-columnsContainer {
  border-bottom: 1px solid #8a8a8a !important;

  /* border-bottom: 1px solid #0d7377 !important; */
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: 1px solid #8a8a8a !important;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.MuiDataGrid-row:hover {
  background: #555 !important;
}

.move {
  background: rgb(175, 175, 175);
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;

  box-shadow: 0 0 0 0 rgb(175, 175, 175);
  transform: scale(1);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    /* color: #101420; */
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
